:root{
    --primary-color: #000000;
    --secondary-color: #FFFFFF;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
section{
    min-height: 100vh;
    background-color: var(--secondary-color);
}
.container{
    width: 85%;
    margin: auto;
}
.container nav{
    height: 10%;
    display: inline;
}
.container nav img{
    width: 20%;
    margin-left: -6%;
    margin-top: -3%;
}
.container nav button{
    font-size: 14px;
    font-family: sans-serif, serif;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 14px 22px;
    border: 1px solid;
    border-radius: 10%;
    float: right;
    margin-top: 5%;
}
.container nav button:hover{
    cursor: pointer;
    color: var(--primary-color);
    background-color: beige;
}
.main-section{
    width: 85%;
    margin: auto;
    display: flex;
}
.main-section .sub-container{
    width: 60%;
}
.main-section .sub-container .notes{
   display: flex;
}
.main-section .sub-container .notes img{
    width: 50%;
}
.main-section .img-container{
    width: 40%;
    margin-left: -10%;
    margin-top: -10%;
}
.main-section .img-container img{
    width: 140%;
    height: auto;
}
.main-section .sub-container .txt p{
    font-size: 20px;
    font-family: sans-serif, serif;
    letter-spacing: 1px;
    margin-left: 1%;
}
.main-section .sub-container .txt span{
    font-weight: 600;
}
section .main-section .sub-container .wait-list{
    width: 98%;
    margin: auto;
}
section .main-section .sub-container .wait-list input{
    padding: 12px 50px;
    border: 1px solid;
    border-radius: 5px;
}
section .main-section .sub-container .wait-list button{
    color: var(--secondary-color);
    font-family: sans-serif, serif;
    padding: 11px 15px;
    background-color: var(--primary-color);
    border-radius: 5px;
    margin-left: -10px;
}
section .main-section .sub-container .wait-list button:hover{
    cursor: pointer;
    color: var(--primary-color);
    background-color: beige;
}
section .logo{
    width: 84%;
    margin: auto;
    margin-top: -15%;
}
section .logo .fa-square-instagram, section .logo .fa-square-twitter,section .logo .fa-facebook,section .logo .fa-linkedin{
    font-size: 30px;
    color: var(--primary-color);
    padding-right: 10px;
}

/* Mobile */
@media only screen and (max-width: 1000px){
    body{
        width: 100%;
    }
    .container nav img{
        width: 50%;
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
    .container nav button{
        display: none;
    }
    .main-section .sub-container{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .main-section .sub-container .notes img{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -15%;
        display: block;
    }
    /* .main-section .sub-container .txt{ */
        /* width: 100%; */
        /* margin-left: auto; */
        /* margin-right: auto; */
    /* } */
    .main-section .sub-container .txt p{
        width: 100%;
        font-size: 14px;
        letter-spacing: normal;
    }
    .main-section .img-container img{
        display: none;
    }
    section .main-section .sub-container .wait-list{
        width: 100%;
        margin: auto;
    }
    section .main-section .sub-container .wait-list button{
        margin-top: 10%;
        padding: 8px 105px;

    }
    section .logo{
        margin-top: 5%;
        margin-left: 15%;
    }
}